In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
executable_path = {'executable_path': '/Users/kcyou/Documents/DataBootcamp/ChromeDriver/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [ ]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
articles = soup.find_all('div', class_='list_text')

In [ ]:
print(len(articles))

In [ ]:
news_title = articles[0].find('a').text
print(news_title)

In [ ]:
news_p = articles[0].find('div', class_='article_teaser_body').text
print(news_p)

### JPL Mars Space Images - Featured Image

In [ ]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find_all('article', class_='carousel_item')

In [ ]:
s_url = 'https://www.jpl.nasa.gov'
e_url = image[0].find('a', class_='button fancybox')['data-fancybox-href']
print(e_url)

featured_image_url = s_url + e_url
print(featured_image_url)

### Mars Facts

In [ ]:
url = 'https://space-facts.com/mars/'

In [ ]:
mars_tables = pd.read_html(url)
print(len(mars_tables))

In [ ]:
mars_tables[0].columns = ['Name', 'Value']
mars_data = mars_tables[0]
mars_data

In [ ]:
mars_html = mars_data.to_html()
print(mars_html)

### Mars Hemispheres

In [2]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.text, 'html.parser')

links = soup.find_all('div', class_='item')
print(len(links))

0

In [ ]:
b_url = 'https://astrogeology.usgs.gov'
page_list = []

for link in links:
    img_page = link.find('a', class_='itemLink product-item')['href']
    print(img_page)
    page_url = b_url + img_page
    page_list.append(page_url)

print(page_list)

In [ ]:
hemisphere_image_urls = []
count = 0

for url in page_list:
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    data = soup.find_all('div', class_='downloads')
    hemi_img_url = data[0].find('a')['href']
    
    print(hemi_img_url)
    
    data = soup.find_all('section', class_='block metadata')
    title = data[0].find('h2', class_='title').text
    hemi_title = title.replace('Enhanced', '').rstrip()
    
    print(hemi_title)
    
    hemisphere_image_urls.append({'title': hemi_title, 'img_url': hemi_img_url})

print(hemisphere_image_urls)

### Extra - Scrape Mars Table for Python Code

In [4]:
url = 'https://space-facts.com/mars/'
response = requests.get(url)


soup = BeautifulSoup(response.text, 'html.parser')
table_info = soup.find('table', class_='tablepress tablepress-id-p-mars')

In [5]:
print(table_info.prettify())

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars">
 <tbody>
  <tr class="row-1 odd">
   <td class="column-1">
    <strong>
     Equatorial Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,792 km
    <br/>
   </td>
  </tr>
  <tr class="row-2 even">
   <td class="column-1">
    <strong>
     Polar Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,752 km
    <br/>
   </td>
  </tr>
  <tr class="row-3 odd">
   <td class="column-1">
    <strong>
     Mass:
    </strong>
   </td>
   <td class="column-2">
    6.39 × 10^23 kg
    <br/>
    (0.11 Earths)
   </td>
  </tr>
  <tr class="row-4 even">
   <td class="column-1">
    <strong>
     Moons:
    </strong>
   </td>
   <td class="column-2">
    2 (
    <a href="https://space-facts.com/moons/phobos/">
     Phobos
    </a>
    &amp;
    <a href="https://space-facts.com/moons/deimos/">
     Deimos
    </a>
    )
   </td>
  </tr>
  <tr class="row-5 odd">
   <td class="column-1">
    <strong>
     Orbit Distance:
    </strong>
   </td>
   <td class="column-2">
    227,943,824 km
    <br/>
    (1.38 AU)
   </td>
  </tr>
  <tr class="row-6 even">
   <td class="column-1">
    <strong>
     Orbit Period:
    </strong>
   </td>
   <td class="column-2">
    687 days (1.9 years)
    <br/>
   </td>
  </tr>
  <tr class="row-7 odd">
   <td class="column-1">
    <strong>
     Surface Temperature:
    </strong>
   </td>
   <td class="column-2">
    -87 to -5 °C
   </td>
  </tr>
  <tr class="row-8 even">
   <td class="column-1">
    <strong>
     First Record:
    </strong>
   </td>
   <td class="column-2">
    2nd millennium BC
   </td>
  </tr>
  <tr class="row-9 odd">
   <td class="column-1">
    <strong>
     Recorded By:
    </strong>
   </td>
   <td class="column-2">
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
</table>

In [6]:
mars_tbl_info = []

mars_data = {}

for info in table_info.find_all('tr'):
    data = info.find('td', class_="column-1").text
    name = data.replace(':', '').rstrip()
    
    val = info.find('td', class_="column-2").text
    
    mars_tbl_info.append({'name': name, 'value': val})
    print(mars_tbl_info)
  
mars_data['mars_tbl_info'] = mars_tbl_info
print(mars_data)

[{'name': 'Equatorial Diameter', 'value': '6,792 km'}]
[{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}]
[{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}, {'name': 'Mass', 'value': '6.39 × 10^23 kg (0.11 Earths)'}]
[{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}, {'name': 'Mass', 'value': '6.39 × 10^23 kg (0.11 Earths)'}, {'name': 'Moons', 'value': '2 (Phobos & Deimos)'}]
[{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}, {'name': 'Mass', 'value': '6.39 × 10^23 kg (0.11 Earths)'}, {'name': 'Moons', 'value': '2 (Phobos & Deimos)'}, {'name': 'Orbit Distance', 'value': '227,943,824 km (1.38 AU)'}]
[{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}, {'name': 'Mass', 'value': '6.39 × 10^23 kg (0.11 Earths)'}, {'name': 'Moons', 'value': '2 (Phobos & Deimos)'}, {'name': 'Orbit Distance', 'value': '227,943,824 km (1.38 AU)'}, {'name': 'Orbit Period', 'value': '687 days (1.9 years)'}]
[{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}, {'name': 'Mass', 'value': '6.39 × 10^23 kg (0.11 Earths)'}, {'name': 'Moons', 'value': '2 (Phobos & Deimos)'}, {'name': 'Orbit Distance', 'value': '227,943,824 km (1.38 AU)'}, {'name': 'Orbit Period', 'value': '687 days (1.9 years)'}, {'name': 'Surface Temperature', 'value': '-87 to -5 °C'}]
[{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}, {'name': 'Mass', 'value': '6.39 × 10^23 kg (0.11 Earths)'}, {'name': 'Moons', 'value': '2 (Phobos & Deimos)'}, {'name': 'Orbit Distance', 'value': '227,943,824 km (1.38 AU)'}, {'name': 'Orbit Period', 'value': '687 days (1.9 years)'}, {'name': 'Surface Temperature', 'value': '-87 to -5 °C'}, {'name': 'First Record', 'value': '2nd millennium BC'}]
[{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}, {'name': 'Mass', 'value': '6.39 × 10^23 kg (0.11 Earths)'}, {'name': 'Moons', 'value': '2 (Phobos & Deimos)'}, {'name': 'Orbit Distance', 'value': '227,943,824 km (1.38 AU)'}, {'name': 'Orbit Period', 'value': '687 days (1.9 years)'}, {'name': 'Surface Temperature', 'value': '-87 to -5 °C'}, {'name': 'First Record', 'value': '2nd millennium BC'}, {'name': 'Recorded By', 'value': 'Egyptian astronomers'}]
{'mars_tbl_info': [{'name': 'Equatorial Diameter', 'value': '6,792 km'}, {'name': 'Polar Diameter', 'value': '6,752 km'}, {'name': 'Mass', 'value': '6.39 × 10^23 kg (0.11 Earths)'}, {'name': 'Moons', 'value': '2 (Phobos & Deimos)'}, {'name': 'Orbit Distance', 'value': '227,943,824 km (1.38 AU)'}, {'name': 'Orbit Period', 'value': '687 days (1.9 years)'}, {'name': 'Surface Temperature', 'value': '-87 to -5 °C'}, {'name': 'First Record', 'value': '2nd millennium BC'}, {'name': 'Recorded By', 'value': 'Egyptian astronomers'}]}