In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
executable_path = {'executable_path': '/Users/kcyou/Documents/DataBootcamp/ChromeDriver/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
articles = soup.find_all('div', class_='list_text')

In [5]:
print(len(articles))

40

In [6]:
news_title = articles[0].find('a').text
print(news_title)

Sensors on Mars 2020 Spacecraft Answer Long-Distance Call From Earth

In [7]:
news_p = articles[0].find('div', class_='article_teaser_body').text
print(news_p)

Instruments tailored to collect data during the descent of NASA's next rover through the Red Planet's atmosphere have been checked in flight.

### JPL Mars Space Images - Featured Image

In [9]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [10]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find_all('article', class_='carousel_item')

In [11]:
s_url = 'https://www.jpl.nasa.gov'
e_url = image[0].find('a', class_='button fancybox')['data-fancybox-href']
print(e_url)

featured_image_url = s_url + e_url
print(featured_image_url)

/spaceimages/images/mediumsize/PIA14872_ip.jpg
https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA14872_ip.jpg

### Mars Facts

In [12]:
url = 'https://space-facts.com/mars/'

In [13]:
mars_tables = pd.read_html(url)
print(len(mars_tables))

3

In [14]:
mars_tables[0].columns = ['Name', 'Value']
mars_data = mars_tables[0]
mars_data

                   Name                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
mars_html = mars_data.to_html()
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [16]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
response = requests.get(url)

In [17]:
soup = BeautifulSoup(response.text, 'html.parser')

links = soup.find_all('div', class_='item')
print(len(links))

4

In [18]:
b_url = 'https://astrogeology.usgs.gov'
page_list = []

for link in links:
    img_page = link.find('a', class_='itemLink product-item')['href']
    print(img_page)
    page_url = b_url + img_page
    page_list.append(page_url)

print(page_list)

/search/map/Mars/Viking/cerberus_enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
/search/map/Mars/Viking/valles_marineris_enhanced
['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [19]:
hemisphere_image_urls = []
count = 0

for url in page_list:
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    data = soup.find_all('div', class_='downloads')
    hemi_img_url = data[0].find('a')['href']
    
    print(hemi_img_url)
    
    data = soup.find_all('section', class_='block metadata')
    title = data[0].find('h2', class_='title').text
    hemi_title = title.replace('Enhanced', '').rstrip()
    
    print(hemi_title)
    
    hemisphere_image_urls.append({'title': hemi_title, 'img_url': hemi_img_url})

print(hemisphere_image_urls)

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Cerberus Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Schiaparelli Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Syrtis Major Hemisphere
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
Valles Marineris Hemisphere
[{'title': 'Cerberus Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

### Extra - Scrape Mars Table for Python Code

In [20]:
url = 'https://space-facts.com/mars/'
response = requests.get(url)


soup = BeautifulSoup(response.text, 'html.parser')
table_info = soup.find('table', class_='tablepress tablepress-id-p-mars')

In [21]:
print(table_info.prettify())

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars">
 <tbody>
  <tr class="row-1 odd">
   <td class="column-1">
    <strong>
     Equatorial Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,792 km
    <br/>
   </td>
  </tr>
  <tr class="row-2 even">
   <td class="column-1">
    <strong>
     Polar Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,752 km
    <br/>
   </td>
  </tr>
  <tr class="row-3 odd">
   <td class="column-1">
    <strong>
     Mass:
    </strong>
   </td>
   <td class="column-2">
    6.39 × 10^23 kg
    <br/>
    (0.11 Earths)
   </td>
  </tr>
  <tr class="row-4 even">
   <td class="column-1">
    <strong>
     Moons:
    </strong>
   </td>
   <td class="column-2">
    2 (
    <a href="https://space-facts.com/moons/phobos/">
     Phobos
    </a>
    &amp;
    <a href="https://space-facts.com/moons/deimos/">
     Deimos
    </a>
    )
   </td>
  </tr>
  <tr class="row-5 odd">
   <td class="column-1">
    <strong>
     Orbit Distance:
    </strong>
   </td>
   <td class="column-2">
    227,943,824 km
    <br/>
    (1.38 AU)
   </td>
  </tr>
  <tr class="row-6 even">
   <td class="column-1">
    <strong>
     Orbit Period:
    </strong>
   </td>
   <td class="column-2">
    687 days (1.9 years)
    <br/>
   </td>
  </tr>
  <tr class="row-7 odd">
   <td class="column-1">
    <strong>
     Surface Temperature:
    </strong>
   </td>
   <td class="column-2">
    -87 to -5 °C
   </td>
  </tr>
  <tr class="row-8 even">
   <td class="column-1">
    <strong>
     First Record:
    </strong>
   </td>
   <td class="column-2">
    2nd millennium BC
   </td>
  </tr>
  <tr class="row-9 odd">
   <td class="column-1">
    <strong>
     Recorded By:
    </strong>
   </td>
   <td class="column-2">
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
</table>

In [22]:
mars_data = {}

for info in table_info.find_all('tr'):
    data = info.find('td', class_="column-1").text
    name = data.replace(':', '').rstrip()
    
    val = info.find('td', class_="column-2").text
    
    mars_data[name] = val
    print(name, val)

print(mars_data)

Equatorial Diameter 6,792 km
Polar Diameter 6,752 km
Mass 6.39 × 10^23 kg (0.11 Earths)
Moons 2 (Phobos & Deimos)
Orbit Distance 227,943,824 km (1.38 AU)
Orbit Period 687 days (1.9 years)
Surface Temperature -87 to -5 °C
First Record 2nd millennium BC
Recorded By Egyptian astronomers
{'Equatorial Diameter': '6,792 km', 'Polar Diameter': '6,752 km', 'Mass': '6.39 × 10^23 kg (0.11 Earths)', 'Moons': '2 (Phobos & Deimos)', 'Orbit Distance': '227,943,824 km (1.38 AU)', 'Orbit Period': '687 days (1.9 years)', 'Surface Temperature': '-87 to -5 °C', 'First Record': '2nd millennium BC', 'Recorded By': 'Egyptian astronomers'}